/*$navbar-default-bg: #F8FE88;*/

$btn-primary-bg: #1B809E;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: 1.7em;
    color: #1B809E;
    letter-spacing: -1px;
    text-transform: capitalize;
}

.center {
    text-align: center;
}

.jumbotron {
    height: 80vh;
}

.jumbotron h1 {
    margin-bottom: 30px;
}

.article-meta-details {
    border-top: 1px solid #EAEAEA;
    margin-top: 15px;
}

.article-actions {
    padding-top: 5px;
}

.description {
    
}

.article-title {
    font-weight: bold;
    font-size: 1.5em;
}

.article-body {
     border-top: 1px solid #EAEAEA;   
     padding: 15px 0;
}

.panel-footer {
    margin-top: 45px;
    bottom: 0;
}

.panel-footer ul {
    float: right;
    list-style: none;
}

.panel-footer ul li {
    float: left;
    margin-left: 15px;
}